@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:wght@400;500;600&family=Source+Code+Pro:wght@500&display=swap');
*{
  background-color:  #F5F5F5;
  color: #333333;
  margin: 0;
  scroll-behavior: smooth;
}

.App {
  font-family: 'Lato', sans-serif;
  width: 100%;
}

.landing-page{
  height: 100vh;
  overflow: hidden;
}

.heading{
  animation: fadeIn 2s;
  font-family: 'Playfair Display', serif;
  padding: 20vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10vh;
}

@keyframes fadeIn{
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.heading h1{
  font-size: 4.5vw;
}

.heading-right{
  grid-column: 2;
  grid-row: 2;

}

.landing-p{
  font-size: 2.5vh;
  padding: 10vh;
  text-align: center;
}

.bold{
  font-weight: 700;
  color: #008080;
}

.hidden{
  display: none;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  margin: 10px;
  border-right: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 10vh 0vh 70vh #333333d6;
  padding: 5rem;
  animation: fadeIn 1s;
  height: 90vh;
}

.link{
  color: inherit;
}

.link:hover{
  color: #008080;
  text-decoration: none;
}

.nav-button{
  background: none;
  border: none;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}

nav li{
  list-style: none;
  padding: 0.5rem;
  color: #333333;
}

.about-heading{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 5vw;
  
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.about-heading h3{
  font-size: 9vw;
  animation: fadeIn 1s;
}

.about-heading h4{
  grid-row: 2;
  grid-column: 2;
  font-size: 5vw;
  animation: fadeIn 3s;
}

#about-me-body{
  padding: 10vw;
  text-align: justify;
  animation: fadeIn 3s;
  min-height: 100vh;
  display: grid;
  gap: 10vh;
  grid-template-columns: 1fr 1fr;
}

.text-link, a {
  color: #008080;
}


.text-link:hover, a:hover{
  text-decoration: underline;
  color: #008080;
}

.about-icon{
  font-size: 20vw;
  margin: 0 auto;
}

.about-website-body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2;
  gap: 10vh;
  text-align: center;
  padding: 10vw;
}

.about-website-body h3{
  font-size: 5vw;
  font-family:  'Playfair Display', serif;
  grid-column: span 2;
}

.about-website-body h4{
  text-align: center;
}

.about-website-body p{
  text-align: justify;
}

.shopping-list-heading{
  padding: 3vh 10vw;
  animation: fadeIn 1s;
}

.shopping-list-form{
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  padding: 5vh 10vw;
  gap: 5vw;
  animation: fadeIn 4s;
}

.shopping-list-form-input{
  grid-column: 1;
  border: 1px solid #008080;
  border-radius: 10px;
}

.shopping-list-form-button{
  grid-column: 2;
  border: 1px solid #008080;
  border-radius: 10px;
}

.filter-select{
  border: 1px solid #008080;
  border-radius: 10px;
  margin: 0 10px;
}

.item-name{
  padding: 10px;
}

.strikethrough{
  text-decoration: line-through;
}

.shopping-list-item-grid{
  padding: 0 15vw;
}

.shopping-list-item{
  display: grid;
  grid-template-columns: 4;
  margin: 2vh;
  border: #008080 1px solid;
  border-radius: 5px;
  animation: fadeIn 1s;
}

.shopping-list-item h5{
  background: inherit;
  grid-column: span 2;
}

.shopping-list-check{
  grid-column: 3;
}

.shopping-list-delete{
  grid-column: 4;
}

.shopping-list-item button{
  background: inherit;
  border: none;
}
