@use './variables.scss';

.App{
    font-family: variables.$base-font;
    width: 100%;
}
.hero a:hover{
    color: variables.$p-contrast;
}

h1{
    font-weight: 600;
    border: variables.$base-border-width;
    font-size: variables.$main-heading-font-size;
}

p{
    padding: variables.$base-padding;
    text-align: variables.$paragraph-font-align;
    font-weight: variables.$paragraph-font-weight;
}

ul, li{
    padding-left: 20px;
}

.nav a{
  text-decoration: none;
  text-decoration: inherit;
  color: white;
}
 home a{
    color: variables.$p-contrast;
}

.strike{
    text-decoration: line-through;
}

.normal{
    font-size: larger;
}

.select{
    margin-left: 10px;
    width: 150px;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid variables.$s-main;
    border-radius: 10px;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(https://www.svgrepo.com/show/25789/down-arrow.svg) 96% / 15% no-repeat #EEE;
}


